HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
src/main/resources/static/img/utenti/Esami Sangue BASTIANONI 2019.jpg
src/main/resources/static/img/autoIbrida/Auto-a-benzina-per-donne-i-10-modelli-migliori-da-comprare_04.jpg
src/main/resources/static/img/monopattino/download (1).jpg
src/main/resources/static/img/monopattino/download.jpg
src/main/resources/static/img/utenti/2020_UF_Java.jpg
src/main/resources/static/img/utenti/Auto-a-benzina-per-donne-i-10-modelli-migliori-da-comprare_04.jpg
