body {
	overflow-x: hidden; /* nascondere scrollbar orizzontale */
    background-color:rgb(253, 253, 253);
}

img{
    width: 100%;
    height: auto;
}

nav {
    background-color: rgb(248, 249, 250, 0.8);    
}

footer {
    background-color: #55A646;
    color: rgb(66, 66, 66);
    height: 10rem;
}

#logo {
    border-radius: 50%;
    width: 10rem;
    height: auto;
}

/*----------------SWIPER - HOME----------------*/
.swiper {
    width: 100%;
    height: 100%;
}

#swiper {
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.wrapperDettaglio {
    width: 100%; 
    height:100%;

    position:absolute; 
    bottom:0;
    left: 0;
    right:0;
    top:0;
    margin: auto;

    z-index:1;
}

.dettagliVeicolo {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;   
    padding: 4rem;
    text-align: left;
}
/*----------------SWIPER - HOME----------------*/


/*----------------COME FUNZIONA - HOME----------------*/
.asymmetric {
	position: relative;
	background-color: #55A646;
}

.asymmetric::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #55A646;
	transform-origin: top left;
	transform: skewY(-4deg);
	z-index: -10;
}

.asymmetric::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #55A646;
	transform-origin: bottom left;
	transform: skewY(4deg);
	z-index: -10;
}

.blank-space {
	height: 8rem;
}

/*----------------COME FUNZIONA - HOME----------------*/


/*----------------DETTAGLIO VEICOLO----------------*/
.banner {
    width: 100%;
    height: 100%;
}

#banner {
    position: relative;
}

#imgVeicolo {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

#map { 
    width: 300px;
    height: 200px;
}
/*----------------DETTAGLIO VEICOLO----------------*/


/*----------------FORM INSERIMENTO VEICOLO----------------*/
.btnicon{
    text-align: center;
}

.btnicon i {
    min-width: 18px;
}

#listaVeicoli img {
    max-width: 20%;
}

.centrato{
    text-align: center;
}
/*----------------FORM INSERIMENTO VEICOLO----------------*/


/*----------------VALIDATION----------------*/
span.error{
    display: block;
    color: red;
}
/*----------------VALIDATION----------------*/