body {
    overflow-x: hidden;
    /* nascondere scrollbar orizzontale */
    background-color: rgb(253, 253, 253);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

nav {
    background-color: rgb(253, 253, 253, 0.8);
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #86FCBE;
    color: #212228;
    height: 10rem;
}

#logo {
    width: 10rem;
    height: auto;
}

/*----------------SWIPER - HOME----------------*/
.swiper {
    width: 100%;
    height: 100%;
}

#swiper {
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.wrapperDettaglio {
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;

    z-index: 1;
}

.dettagliVeicolo {
    background-color: rgb(33, 34, 40, 0.5);
    color: #fdfdfd;
    padding: 4rem;
    text-align: left;
}

/*----------------SWIPER - HOME----------------*/


/*----------------COME FUNZIONA - HOME----------------*/
.asymmetric {
    position: relative;
    background-color: #86FCBE;
}

.asymmetric::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #86FCBE;
    transform-origin: top left;
    transform: skewY(-4deg);
    z-index: -10;
}

.asymmetric::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #86FCBE;
    transform-origin: bottom left;
    transform: skewY(4deg);
    z-index: -10;
}

.blank-space {
    height: 8rem;
}
/*----------------COME FUNZIONA - HOME----------------*/


/*----------------DETTAGLIO VEICOLO----------------*/
.banner {
    width: 100%;
    height: 100%;
}

#banner {
    position: relative;
}

#imgVeicolo {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.card {
    width: 24rem;
    height: auto;
}

#map {
    width: 300px;
    height: 200px;
}

/*----------------DETTAGLIO VEICOLO----------------*/


/*----------------FORM INSERIMENTO VEICOLO----------------*/
.btnicon {
    text-align: center;
}

.btnicon i {
    min-width: 18px;
}

.centrato {
    text-align: center;
}
/*----------------FORM INSERIMENTO VEICOLO----------------*/


/*----------------AMMINISTRA VEICOLO----------------*/
#listaVeicoli img {
    max-width: 20%;
}

#btn-bicicletta {
    background-color: rgb(255, 89, 148);
    color: rgb(253, 253, 253);
}

#btn-monopattino {
    background-color: rgb(255, 150, 104);
    color: rgb(253, 253, 253);
}

#btn-autoElettrica {
    background-color: rgb(110, 206, 178);
    color: rgb(253, 253, 253);
}

#btn-autoIbrida {
    background-color: rgb(130, 182, 255);
    color: rgb(253, 253, 253);
}
/*----------------AMMINISTRA VEICOLO----------------*/


/*----------------VALIDATION----------------*/
span.error {
    display: block;
    color: red;
}
/*----------------VALIDATION----------------*/


/*----------------ABOUT-US----------------*/
.team{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.team-member{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.team-member img{
    margin-top: auto;
    border-radius: 50%;
    max-width: 200px;
}

.team-member h2{
    font-size: 1.5rem;
}
/*----------------ABOUT-US----------------*/


/*----------------MEDIA QUERIES----------------*/
@media screen and (min-width: 500px) {
    #map {
        width: 420px;
        height: 280px;
    }
}

@media screen and (min-width: 700px) {
    #map {
        width: 600px;
        height: 400px;
    }
}
/*----------------MEDIA QUERIES----------------*/
