body {
    width: 98vw;
    height: auto;
    margin-left: 0.6rem;
    
    background-color:rgb(253, 253, 253);
}

img{
    max-width: 100%;
    height: auto;
}

/*----------------SWIPER----------------*/
.swiper {
    width: 100%;
    height: 100%;
}

#swiper {
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.wrapperDettaglio {
    width: 100%; 
    height:100%;

    position:absolute; 
    bottom:0;
    left: 0;
    right:0;
    top:0;
    margin: auto;

    z-index:1;

    display: flex;
    justify-content: start;
}

.dettagliVeicolo {
    width: 30%; 
    height:100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    background-color: rgba(0, 0, 0, 0.5);
    color: white;   
    padding: 4rem;
    text-align: left;
}
/*----------------SWIPER----------------*/

.coloreFooter {
    background-color: rgb(248, 209, 117);
    color: rgb(66, 66, 66);
}

#listaVeicoli img {
    max-width: 20%;
}

.centrato{
    text-align: center;
}

span.error{
    display: block;
    color: red;
}

.btnicon{
    text-align: center;
}

.btnicon i {
    min-width: 18px;
}

