body {
    overflow-x: hidden;
    /* nascondere scrollbar orizzontale */
    background-color: rgb(253, 253, 253);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* prova prova uuu */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

img {
    width: 100%;
    height: auto;
}

.navbar {
    background-color: rgb(253, 253, 253, 0.8);
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s;
}

.scrolled{
    background-color: white;

}



#logo {
    width: 10rem;
    height: auto;
    transition: all 0.5s;
}

.scrolled #logo{
    width: 7rem;
    height: auto;
}

/*----------------FOOTER----------------*/
.coloreFooter {
    background-color: rgb(33, 34, 40);
    color: rgb(233, 233, 233);
}

 footer a:link {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }

  footer a:visited {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: none;
  }
  
  footer a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  
footer a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
/*----------------FOOTER----------------*/



/*----------------SWIPER - HOME----------------*/
.swiper {
    width: 100%;
    height: 100%;
}

#swiper {
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.wrapperDettaglio {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: 1;
}


.dettagliVeicolo {
    background-color: rgb(33, 34, 40, 0.5);
    color: #fdfdfd;
    padding: 4rem;
    text-align: left;
}
.dettagliVeicolo img{
    max-width: 60%;
    height: auto;
}


/*----------------SWIPER - HOME----------------*/


/*----------------COME FUNZIONA - HOME----------------*/
.asymmetric {
    position: relative;
    background-color: #86FCBE;
}

.asymmetric::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #86FCBE;
    transform-origin: top left;
    transform: skewY(-4deg);
    z-index: -10;
}

.asymmetric::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #86FCBE;
    transform-origin: bottom left;
    transform: skewY(4deg);
    z-index: -10;
}

.blank-space {
    height: 8rem;
}
/*----------------COME FUNZIONA - HOME----------------*/


/*----------------VEICOLI DISPONIBILI----------------*/
.sezione {
    margin-bottom: 5rem;
    background-color: white;
    padding: 2rem 0;
    border-radius: 1rem;
    box-shadow: -2px -2px 22px -1px rgba(102,102,102,0.6)
}

.tab-pane .sezione:first-child{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nav-tabs .nav-link{
    background-color: rgb(248,249,250);
}

.boxino{
    border-radius: 1rem;
    box-shadow: -2px -2px 22px -1px rgba(102,102,102,0.6)
}

.immaginina {
    max-width: 80%;
}
/*----------------VEICOLI DISPONIBILI----------------*/



/*----------------DETTAGLIO VEICOLO----------------*/
.banner {
    width: 100%;
    height: 100%;
}

#banner {
    position: relative;
}

.noPallini{
    list-style: none;
    /* font-size: 13px; */
    /* border: solid;
    border: rgb(129, 192, 243); */
}

.noPallini h4{
    margin-right: 0.5rem;
}

#imgVeicolo {
    
    width: 20%;
    height: auto;
}

/* .card {
    width: 24rem;
    height: auto;
} */

#map {
    width: 300px;
    height: 200px;
}
/*----------------DETTAGLIO VEICOLO----------------*/


/*----------------FORM INSERIMENTO VEICOLO----------------*/
.btnicon {
    text-align: center;
}

.btnicon i {
    min-width: 18px;
}

.centrato {
    text-align: center;
}
/*----------------FORM INSERIMENTO VEICOLO----------------*/


/*----------------AMMINISTRA VEICOLO----------------*/
#listaVeicoli img {
    max-width: 20%;
}

#btn-bicicletta {
    background-color: rgb(217, 127, 199);
    color: rgb(253, 253, 253);
}

#btn-monopattino {
    background-color: rgb(237, 84, 68);
    color: rgb(253, 253, 253);
}

#btn-autoElettrica {
    background-color: rgb(33, 172, 169);
    color: rgb(253, 253, 253);
}

#btn-autoIbrida {
    background-color: rgb(117, 117, 187);
    color: rgb(253, 253, 253);
}

#btn-autoBenzina_Diesel {
    background-color: rgb(211, 218, 63);
    color: rgb(253, 253, 253);
}

.hidden {
    display: none;
}
/*----------------AMMINISTRA VEICOLO----------------*/


/*----------------VALIDATION----------------*/
span.error {
    display: block;
    color: red;
}
/*----------------VALIDATION----------------*/


/*----------------ABOUT-US----------------*/
.team{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 7rem;
}

.team-member{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}

.team-member img{
    margin-top: auto;
    border-radius: 50%;
    max-width: 200px;
}

.team-member h2{
    font-size: 1.5rem;
}
/*----------------ABOUT-US----------------*/


/*----------------MEDIA QUERIES----------------*/
@media screen and (min-width: 500px) {
    #map {
        width: 320px;
        height: 190px;
    }
}

@media screen and (min-width: 700px) {
    #map {
        width: 500px;
        height: 300px;
    }
}
/*----------------MEDIA QUERIES----------------*/

